.col-sm-3 {
  text-align: center;
}

.col-md-2 {
  text-align: center;
}

.primary {
  color: white;
  background-color: rgb(0, 23, 37);
  height: 800px;
  width: 100%;
  padding: 50px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

Button {
  height: 70px;
  width: 200px;
  font: 30px;
}
.secondary {
  color: white;

  height: 600px;
  padding: 50px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .col-sm-3 {
    text-align: center;
  }

  .col-md-2 {
    text-align: center;
  }

  .primary {
    color: white;
    background-color: rgb(0, 23, 37);
    height: 800px;
    width: 100%;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  Button {
    height: 50px;
    width: 150px;
    font: 20px;
  }
  .secondary {
    color: white;

    height: 600px;

    width: 100%;
  }
  .carousel {
    max-height: 200px;
    max-width: 200px;
  }
}
