.col-sm-3 {
  text-align: center;
}

h5 {
  text-align: center;
  padding: 10px;
}

.top {
  color: white;
  background-color: rgb(15, 146, 228);
  height: 100px;
  width: 140%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 3;
}

.topmenu {
  padding: 10px;
  margin-left: 50px;
}

.bpad {
  padding: 40px;
}

.carousel {
  background-size: cover;
  height: 500px;
  width: 500px;
  text-align: center;
  align-items: center;
}

.carouselContainer {
  text-align: center;
}

h1 {
  text-align: center;
  align-items: center;
}
.col-md-2 {
  text-align: center;
}

.primary {
  color: white;
  background-color: rgb(0, 23, 37);
  height: 800px;
  width: 100%;
  padding: 50px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

Button {
  height: 70px;
  width: 200px;
  font: 30px;
}
.secondary {
  color: white;

  height: 600px;
  padding: 50px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .carouselContainer {
    text-align: center;
  }
  h1 {
    text-align: left;
    align-items: center;
  }
  .col-sm-3 {
    text-align: center;
  }

  .col-md-2 {
    text-align: center;
  }

  .primary {
    color: white;
    background-color: rgb(0, 23, 37);
    height: 800px;
    width: 140%;
  }

  .top {
    color: white;
    background-color: rgb(28, 149, 224);
    height: 100px;
    width: 140%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  .bpad {
    padding: 40px;
  }

  Button {
    height: 50px;
    width: 150px;
    font: 20px;
  }
  .secondary {
    color: white;

    height: 600px;

    width: 140%;
  }
  .carousel {
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .carousel-inner {
    background-size: cover;
  }

  .topmenu {
    padding: 5px;
    font-size: 10px;
  }
  h5 {
    text-align: center;
    padding: 10px;
  }
}
